@import 'tailwindcss';

@config '../../tailwind.config.ts';
@plugin "@tailwindcss/typography";

@layer base {
  @define-mixin theme-light {
    --color-background: 1 0 0;
    --color-foreground: var(--color-neutral-900);
    --color-card: var(--color-neutral-50);
    --color-card-foreground: var(--color-neutral-900);
    --color-popover: 1 0 0;
    --color-popover-foreground: var(--color-neutral-900);
    --color-secondary: var(--color-neutral-100);
    --color-secondary-foreground: var(--color-neutral-800);
    --color-muted: var(--color-neutral-100);
    --color-muted-foreground: var(--color-neutral-500);
    --color-accent: var(--color-neutral-100);
    --color-accent-foreground: var(--color-neutral-900);
    --color-border: var(--color-neutral-200);
    --color-input: var(--color-neutral-200);
    --color-input-hover: var(--color-neutral-400);
    --color-input-invalid: var(--color-danger-600);
    --color-ring: var(--color-primary-700);

    --color-primary-main: var(--color-primary-700);
    --color-primary-active: var(--color-primary-600);
    --color-primary-foreground: 1 0 0;

    --color-neutral-main: var(--color-neutral-600);
    --color-neutral-active: var(--color-neutral-500);
    --color-neutral-foreground: 1 0 0;

    --color-danger-main: var(--color-danger-600);
    --color-danger-active: var(--color-danger-500);
    --color-danger-foreground: 1 0 0;
  }

  @define-mixin theme-dark {
    --color-background: var(--color-neutral-950);
    --color-foreground: var(--color-neutral-100);
    --color-card: var(--color-neutral-900);
    --color-card-foreground: var(--color-neutral-100);
    --color-popover: var(--color-neutral-900);
    --color-popover-foreground: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-800);
    --color-secondary-foreground: var(--color-neutral-200);
    --color-muted: var(--color-neutral-800);
    --color-muted-foreground: var(--color-neutral-400);
    --color-accent: var(--color-neutral-800);
    --color-accent-foreground: var(--color-neutral-50);
    --color-border: var(--color-neutral-800);
    --color-input: var(--color-neutral-800);
    --color-input-hover: var(--color-neutral-600);
    --color-input-invalid: var(--color-danger-300);
    --color-ring: var(--color-primary-300);

    --color-primary-main: var(--color-primary-300);
    --color-primary-active: var(--color-primary-400);
    --color-primary-foreground: var(--color-primary-950);

    --color-neutral-main: var(--color-neutral-300);
    --color-neutral-active: var(--color-neutral-400);
    --color-neutral-foreground: var(--color-neutral-950);

    --color-danger-main: var(--color-danger-300);
    --color-danger-active: var(--color-danger-400);
    --color-danger-foreground: var(--color-danger-950);
  }

  :root {
    color-scheme: light dark;

    --border-radius: 0.5rem;

    --color-primary-50: 0.967 0.018 239.99;
    --color-primary-100: 0.937 0.032 245.297;
    --color-primary-200: 0.884 0.059 248.499;
    --color-primary-300: 0.807 0.099 253.068;
    --color-primary-400: 0.709 0.152 260.094;
    --color-primary-500: 0.617 0.206 264.446;
    --color-primary-600: 0.532 0.26 265.507;
    --color-primary-700: 0.482 0.254 265.25;
    --color-primary-800: 0.423 0.207 265.579;
    --color-primary-900: 0.382 0.154 266.004;
    --color-primary-950: 0.264 0.103 267.792;

    --color-neutral-50: 0.984 0.003 264.542;
    --color-neutral-100: 0.968 0.008 271.326;
    --color-neutral-200: 0.929 0.015 264.492;
    --color-neutral-300: 0.869 0.029 263.399;
    --color-neutral-400: 0.704 0.046 261.617;
    --color-neutral-500: 0.554 0.056 262.364;
    --color-neutral-600: 0.446 0.055 264.956;
    --color-neutral-700: 0.372 0.044 266.067;
    --color-neutral-800: 0.279 0.038 266.54;
    --color-neutral-900: 0.208 0.028 265.33;
    --color-neutral-950: 0.129 0.021 269.281;

    --color-danger-50: 0.969 0.015 12.422;
    --color-danger-100: 0.933 0.034 11.139;
    --color-danger-200: 0.878 0.065 12.608;
    --color-danger-300: 0.802 0.115 14.566;
    --color-danger-400: 0.71 0.184 17.958;
    --color-danger-500: 0.648 0.228 22.608;
    --color-danger-600: 0.596 0.231 25.185;
    --color-danger-700: 0.522 0.205 25.745;
    --color-danger-800: 0.456 0.175 24.845;
    --color-danger-900: 0.404 0.146 23.277;
    --color-danger-950: 0.262 0.097 22.977;

    @mixin theme-light;
  }
  @media not print {
    @media (prefers-color-scheme: dark) {
      :root {
        @mixin theme-dark;
      }
    }
  }
}

@layer base {
  [data-theme='light'] {
    color-scheme: light;
    @mixin theme-light;
  }
  @media not print {
    [data-theme='dark'] {
      color-scheme: dark;
      @mixin theme-dark;
    }
  }
}

@layer base {
  * {
    @apply border-border [-webkit-tap-highlight-color:transparent];
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground selection:bg-primary-500/30 overflow-x-hidden selection:text-inherit;
  }
}
.lucide {
  @apply size-em;
}
