@import 'tailwindcss';

@import './animations.css';
@import './utils.css';
@import './shiki.css';

@plugin "@tailwindcss/typography";
@config "../config/tailwind/typography.ts";

@custom-variant dark {
  @media not print {
    &:is([data-theme='dark'] *) {
      @slot;
    }
  }
}

:root {
  color-scheme: light;
}
@media not print {
  [data-theme='dark'] {
    color-scheme: dark;
  }
}

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-inherit: inherit;

  --color-primary-50: oklch(0.967 0.018 239.99);
  --color-primary-100: oklch(0.937 0.032 245.297);
  --color-primary-200: oklch(0.884 0.059 248.499);
  --color-primary-300: oklch(0.807 0.099 253.068);
  --color-primary-400: oklch(0.709 0.152 260.094);
  --color-primary-500: oklch(0.617 0.206 264.446);
  --color-primary-600: oklch(0.532 0.26 265.507);
  --color-primary-700: oklch(0.482 0.254 265.25);
  --color-primary-800: oklch(0.423 0.207 265.579);
  --color-primary-900: oklch(0.382 0.154 266.004);
  --color-primary-950: oklch(0.264 0.103 267.792);

  --color-neutral-50: oklch(0.984 0.003 264.542);
  --color-neutral-100: oklch(0.968 0.008 271.326);
  --color-neutral-200: oklch(0.929 0.015 264.492);
  --color-neutral-300: oklch(0.869 0.029 263.399);
  --color-neutral-400: oklch(0.704 0.046 261.617);
  --color-neutral-500: oklch(0.554 0.056 262.364);
  --color-neutral-600: oklch(0.446 0.055 264.956);
  --color-neutral-700: oklch(0.372 0.044 266.067);
  --color-neutral-800: oklch(0.279 0.038 266.54);
  --color-neutral-900: oklch(0.208 0.028 265.33);
  --color-neutral-950: oklch(0.129 0.021 269.281);

  --color-danger-50: oklch(0.969 0.015 12.422);
  --color-danger-100: oklch(0.933 0.034 11.139);
  --color-danger-200: oklch(0.878 0.065 12.608);
  --color-danger-300: oklch(0.802 0.115 14.566);
  --color-danger-400: oklch(0.71 0.184 17.958);
  --color-danger-500: oklch(0.648 0.228 22.608);
  --color-danger-600: oklch(0.596 0.231 25.185);
  --color-danger-700: oklch(0.522 0.205 25.745);
  --color-danger-800: oklch(0.456 0.175 24.845);
  --color-danger-900: oklch(0.404 0.146 23.277);
  --color-danger-950: oklch(0.262 0.097 22.977);

  --color-background: light-dark(var(--color-white), var(--color-neutral-950));
  --color-foreground: light-dark(
    var(--color-neutral-900),
    var(--color-neutral-100)
  );
  --color-card: light-dark(var(--color-neutral-50), var(--color-neutral-900));
  --color-card-foreground: light-dark(
    var(--color-neutral-900),
    var(--color-neutral-100)
  );
  --color-popover: light-dark(var(--color-white), var(--color-neutral-900));
  --color-popover-foreground: light-dark(
    var(--color-neutral-900),
    var(--color-neutral-100)
  );
  --color-secondary: light-dark(
    var(--color-neutral-100),
    var(--color-neutral-800)
  );
  --color-secondary-foreground: light-dark(
    var(--color-neutral-800),
    var(--color-neutral-200)
  );
  --color-muted: light-dark(var(--color-neutral-100), var(--color-neutral-800));
  --color-muted-foreground: light-dark(
    var(--color-neutral-500),
    var(--color-neutral-400)
  );
  --color-accent: light-dark(
    var(--color-neutral-100),
    var(--color-neutral-800)
  );
  --color-accent-foreground: light-dark(
    var(--color-neutral-900),
    var(--color-neutral-50)
  );
  --color-border: light-dark(
    var(--color-neutral-200),
    var(--color-neutral-800)
  );
  --color-input: light-dark(var(--color-neutral-200), var(--color-neutral-800));
  --color-input-hover: light-dark(
    var(--color-neutral-400),
    var(--color-neutral-600)
  );
  --color-input-invalid: light-dark(
    var(--color-danger-600),
    var(--color-danger-300)
  );

  --color-primary: light-dark(
    var(--color-primary-700),
    var(--color-primary-300)
  );
  --color-primary-active: light-dark(
    var(--color-primary-600),
    var(--color-primary-400)
  );
  --color-primary-foreground: light-dark(
    var(--color-white),
    var(--color-primary-950)
  );

  --color-neutral: light-dark(
    var(--color-neutral-600),
    var(--color-neutral-300)
  );
  --color-neutral-active: light-dark(
    var(--color-neutral-500),
    var(--color-neutral-400)
  );
  --color-neutral-foreground: light-dark(
    var(--color-white),
    var(--color-neutral-950)
  );

  --color-danger: light-dark(var(--color-danger-600), var(--color-danger-300));
  --color-danger-active: light-dark(
    var(--color-danger-500),
    var(--color-danger-400)
  );
  --color-danger-foreground: light-dark(
    var(--color-white),
    var(--color-danger-950)
  );

  --radius-sm: calc(var(--radius-lg) - 4px);
  --radius-md: calc(var(--radius-lg) - 2px);
  --radius-lg: 0.5rem;
  --radius-xl: calc(var(--radius-lg) + 4px);

  --container-8xl: 90rem;
}

@layer base {
  * {
    @apply border-border [-webkit-tap-highlight-color:transparent];
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground selection:bg-primary-500/30 selection:text-inherit;
  }
}
