code.shiki,
pre.shiki {
  --shiki-background: var(--tw-prose-pre-bg);
  --shiki-foreground: var(--tw-prose-pre-code);

  --shiki-token-changed: light-dark(#9c7605, #fec844);
  --shiki-token-comment: light-dark(#6b7ca0, #8898bb);
  --shiki-token-constant: light-dark(#9b04a4, #f9b5fc);
  --shiki-token-deleted: light-dark(#b50f1f, #fe9188);
  --shiki-token-function: light-dark(#1a45ec, #91b3fe);
  --shiki-token-inserted: light-dark(#187527, #bfffc0);
  --shiki-token-keyword: light-dark(#bb6104, #ffc298);
  --shiki-token-link: light-dark(#036993, #9cdaff);
  --shiki-token-parameter: light-dark(#7413e0, #d4c7ff);
  --shiki-token-string: light-dark(#0a9179, #adffe8);
  --shiki-token-string-expression: light-dark(#046e77, #bcf8ff);
}
